@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .hoverAnimation {
    @apply transition-all duration-200 ease-out rounded-full cursor-pointer w-13 h-13;
  }

  .hoverAnimation:hover {
    @apply bg-neutral-300 dark:bg-gray-700 opacity-10;
  }

  @media (min-width: 1280px) {
    .hoverAnimation {
      @apply w-auto h-auto py-3 px-4;
    }
  }

  .icon {
    @apply cursor-pointer w-9 h-9 flex items-center justify-center rounded-full transition-all duration-200 ease-out;
  }

  .icon:hover {
    @apply bg-[#1d9bf0] opacity-10;
  }
  .tag {
    @apply text-[#1d9bf0] font-normal hover:underline cursor-pointer;
  }
}
